@charset "UTF-8";

.immagine-lista
{
	max-width: 93%;
	min-wigth:auto;
	box-shadow: 4px 6px 15px black;
	
}

.riga-lista 
{
	text-align:center;
	align-items: center;	
}

#collezione 
{	
	font-size:4rem;
	font-weight:400;
}