<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>biglietto</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/biglietto.css">
      <link href="https://fonts.googleapis.com/css?family=Cabin|Indie+Flower|Inknut+Antiqua|Lora|Ravi+Prakash" rel="stylesheet">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
      
</head>
<body>
  

<div class="container">
  <div class="row">
   <div class="col-xl-6">
    <div class="item">
      <div class="item-right">
        <p class="day">Prezzo</p>
        <h4 class="num">20,99€</h4>
        <span class="up-border"></span>
        <span class="down-border"></span>
      </div> <!-- end item-right -->
      
      <div class="item-left">
        <p class="event">Mostra Event</p>
        <h2 class="title">Live In Roma</h2>
        
        <div class="sce">
          <div class="icon">
            <i class="fa fa-table"></i>
          </div>
          <input type="date" name="" id=""> <br/>
        </div>
        <div class="fix"></div>
        <div class="loc">
          <br> 
        <div class="icon">
          <i class="fa fa-map-marker"></i>
        </div>
          <select id="seleziona" name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select>
        </div>
        <div class="fix">
        	<button type="submit" class="tickets">Acquista</button>
        </div>
        
      </div> <!-- end item-right -->
    </div> <!-- end item -->
  </div>
</div>

</div>
</body>