<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>Pagina Biglietto</title>
	</head>
	
	<body>
	
		<h1>Biglietto</h1>
		<h4 th:if="${bigliettoError}" style="color:red">Hai gia acquistato un biglietto per questo evento</h4>
		<form method="post">
			<input type="date" placeholder="data Ingresso" name="dataIngresso"><br>
			<p th:if="${dataError}" style="color:red">Data immessa non valida!</p>
			<select name="idEvento">
				<option th:each="e : ${eventi}" th:value="${e.id}" th:text="${e.descrizione}"></option>
			</select>
			
			<input type="submit" value="Registrati">
		</form>
	
	
	</body>

</html>