<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="css/dettaglio.css">
</head>

<body>

    <header>
        <nav class="navbar ">
        <div class="navbar-toggle">
          <button class="menu-toggle" onclick="apriMenu()"><img th:src="@{image/menubutton.png}" id="menubutton"></button>
          <div id="logoHome">
            <a href="#" id="dimLogo"><img src="image/logo.png"></a>
          </div>

          <div>
            <a th:href="@{/biglietto}"  class="blurry-brush-button-2 catafratto">BIGLIETTERIA</a>
            <a href="#" id="profileImg" style="display: none;"><img src="image/profile.png" alt="Profile Image"></a>
        </div>

          <div>
            <a th:href="@{/login}" id="loginBtn" class="catafratto blurry-brush-button-1">Login</a>
            <a  id="profileImg" style="display: none;"><img src="image/profile.png" alt="Profile Image"></a>
        </div>
        </div>
    </nav>
        <div class="sidebar">
      <ul class="menu">
        <li class="Mahekjain-button-1"><a th:href="@{/home}">Home</a></li>
        <li class="Mahekjain-button-1"><a th:href="@{/biografia}">L'artista</a></li>
        <li class="Mahekjain-button-1"><a th:href="@{/opere}">Le Opere</a></li>
        <li class="Mahekjain-button-1"><a th:href="@{/ordine}">Compra una stampa</a></li>
      </ul>
    </div>
    </header>

     <!-- BOTTONE TORNA SU -->

      <button id="btnScrollToTop">
        <i class="material-icons">arrow_upward</i>
      </button>
    
    
      <section class="prima">
         <div id="fotodiv" class="text-center">
         		 <img id="dipinto" th:src="${opera.immagine}">
        </div>
      </section>
      <section class="secondo">
        <div id="testi">
        <h1 th:text="${opera.titolo}"></h1>
        <br>
        <h5 th:text="' Vincent van Gogh, ' + ${opera.anno}"></h5>
        <br>
        <p th:text="${opera.tecnica}"></p>
        <br>
        <p th:text="${opera.descrizione}" id="paragrafo"></p>
    </div>

      </section>




      
      <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</body>


</html>