<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lista Opere</title>
</head>

<body>
	<table>
			<tr th:each="o : ${opere}">
				<td th:text="${o.titolo}"></td>
				<td th:text="${o.descrizione}"></td>
				<td th:text="${o.tecnica}"></td>
				<td th:text="${o.anno}"></td>
				<td th:text="${o.prezzoStampa}"></td>
				<td > 
				<a th:href="@{dettaglio-opera(id=${o.id})}"><img th:src="@{${o.immagine}}"></img></a>
				</td>
				<td th:if="${isAdmin}"><a th:href="@{opere/cancella(id=${o.id})}">Distruggi opera definitivamente</a></td>
			</tr>
		</table>
		<a th:if="${isAdmin}" th:href="@{/registraopere}">Aggiungi opera</a>
</body>

</html>