<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<h1>form ordine</h1>
		<form method="post">
			<label th:text="'Opere:'"></label>
			<div th:each="o : ${opere}">
				<input class="check" type="checkbox" th:price="${o.prezzoStampa}" name="opere" th:value="${o.id}">
				<label th:text="${o.titolo} + ' - ' + ${o.prezzoStampa} + '€'"></label>
			</div>
			<p id="importo">IMPORTO: 0.00€</p>
			<input type="submit" value="compra">
		</form>
		<script type="text/javascript" src="/js/ordine.js"></script>
	</body>
</html>