<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
	<h1>Registra Opera</h1>
		<form  method="post" enctype="multipart/form-data">
			<input type="text" placeholder="titolo" name="titolo"><br>
			<input type="text" placeholder="descrizione" name="descrizione"><br>
			<input type="file" placeholder="immagine" name="immagine"><br>
			<input type="text" placeholder="tecnica" name="tecnica"><br>
			<input type="number" step="any" placeholder="prezzo Stampa" name="prezzoStampa"><br>
			<input type="text" placeholder="anno" name="anno"><br>
			<input type="submit" value="Registrati">
		</form>
	</body>
</html>